# Defines plugins to load

# Absolute path to plugin DLLs in the dist folder
PluginFolder=.

# Define plugins
Plugin=RenderSystem_GL
Plugin=RenderSystem_GL3Plus
Plugin=RenderSystem_Direct3D11
Plugin=Plugin_ParticleFX
Plugin=Plugin_BSPSceneManager
Plugin=Plugin_PCZSceneManager
Plugin=Plugin_OctreeZone
Plugin=Plugin_OctreeSceneManager
Plugin=Plugin_DotScene
Plugin=Plugin_Spacescape
Plugin=Codec_STBI

